@model IEnumerable<BangazonSite.Models.ProductType>

@{
    ViewData["Title"] = "Product Types";
}

<h2>Product Types</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var type in (IEnumerable<object>)ViewBag["types"])
    {
        @type
        <div class="row top-buffer">
            <div class="col-md-8">@type.ProductType</div>
            <div class="col-md-2">@type.ProductCount</div>
            <div class="col-md-2">
            </div>
        </div>
    }


    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductTypeId">@Html.DisplayFor(modelItem => item.Label)</a>
</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductTypeId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
