@model BangazonSite.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order @Html.DisplayFor(model => model.Order.OrderId)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentType.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => product.Title)</td>
                            <td>@Html.DisplayFor(model => product.Price)</td>
                        </tr>
                        Model.Total += product.Price;
                    }
                </tbody>
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Order.PaymentTypeId == null)
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Order.OrderId">Complete Order</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Order.OrderId">Delete</a>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
