@model BangazonSite.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order @Html.DisplayFor(model => model.Order.OrderId)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentType.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        @if(Model.Order.PaymentTypeId == null)
                        {
                            <th></th>

                        }
                    </tr>
                </thead>
                <tbody>
                    <!--Pass the Value of the product (the actual info stored in it) and the Index of it in the Product List-->
                    @foreach (var product in Model.Products.Select((value, index) => new { Value = value, Index = index }))
                    {
                        // Counts the number of times this order/product combo is in the OrderProduct Table
                        int quant = (product.Value.OrderProducts.Select(op => op).Count());
                        // Multiply product price by quant for product total
                        var price = (product.Value.Price * quant).ToString("C");

                        // Compare the index of the first occurrence of the Product to the current Index.
                        // ONLY if the indexes matchup will a new line item print to DOM
                        if (Model.Products.IndexOf(product.Value) == product.Index)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => product.Value.Title)</td>
                                <td>@quant</td>
                                <td>@price</td>
                                @if (Model.Order.PaymentTypeId == null)
                                {
                                    <td>
                                        <a class="btn btn-default btn-sm" asp-action="Delete" asp-route-id="@Model.Order.OrderId" asp-route-param="@product.Value.ProductId">Delete</a>
                                    </td>

                                }
                            </tr>

                        }

                        Model.Total += product.Value.Price;
                    }
                </tbody>
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Order.PaymentTypeId == null)
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Order.OrderId">Complete Order</a>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
